-
    var doulas = 
        {"Heather Chan": {
            "name": "heather-chan",
            "credentials": "",
            "bio": "Heather's doula journey began in 1991, witnessing the miracle of her siblings enter the world. Her passion for birth has grown exponentially since becoming a mother in 2007, then a certified birth doula through DONA in 2014. She truly loves to educate and help each client navigate their options for birth. She is known for her desire to empower women and families to have a positive birth experience. You only give birth to your child once, you deserve the wealth of knowledge and expertise Heather can offer to your own unique birth journey.",
            "email":  "bhaea7@gmail.com",
            "website": "",
            "phone": ""
        },
        "Molly Deutschbein":
        {
            "name": "molly-deutschbein",
            "credentials": "LMT, CST, C-ATMAT",
            "bio": "Molly offers families the benefit of her experience - as a woman, a mother, a childbirth educator, a breastfeeding counselor, a bodyworker and a birth attendant (doula).  She has spent the past twenty-six years learning all she could about how women birth, how women see their bodies and why they run into obstacles in labor. She’ll help you prepare with bodywork (craniosacral therapy, Arvigo Techniques of Mayan Abdominal Therapy, the principles of Spinning Babies) and informed planning. Molly's expertise is working with women with a history of trauma.",
            "email":  "bhaea7@gmail.com",
            "website": "http://www.spiritorganic.net/",
            "phone": "585-746-4682"
        },
        "Gaila Harriff": {
            "name": "gaila-harriff",
            "credentials": "CD(DONA), PCD (DONA), CLC (HEALTHY CHILD)",
            "bio": "Gaila has had the privilege to help couples gently transition into parenthood, and even strengthen their relationship in labor and birth, since 2004. Each family has unique needs during this vulnerable time, from labor preparation through postpartum care. Gaila’s area of expertise, working with mothers and babies, began in 1979 working in local newborn and special care nurseries. This has benefited her in helping the hospital staff honor a calm, respectful space for your birthing experience. Hospital or home births, infant care, breastfeeding, postpartum depression are why I take seriously keeping up with education and certifications, allowing the best evidenced-based care for you.",
            "email":  "gharriff@gmail.com",
            "website": "",
            "phone": "585-414-8947"
        },
        "Erin Hegeman": {
            "name": "erin-hegeman",
            "credentials": "",
            "bio": "Erin is a birth doula and believer in the process of birth. She has confidence and trust that a woman's body can and will birth a baby in the way that was meant for them as individuals. She hopes to empower women to learn about their choices in childbirth.  Erin has trained in Hypnobirthing and is certified in Rebozo for childbirth. Her journey on this path began with the birth at home of her first son in 2009. She believes every woman should have access to the physical and emotional support of a doula if they desire.",
            "email":  "erin.hegeman.doula@gmail.com",
            "website": "http://erinhegeman.com/",
            "phone": ""
        },
        "Shannon Hess": {
            "name": "shannon-hess",
            "credentials": "",
            "bio": "Shannon is passionate about supporting women through transformative times in their lives. In 2014, she completed the DONA International birth doula training after becoming infatuated with the process and power of birth. In January of 2016, Shannon had her first child and experienced firsthand how infinitely encouraging the presence of a doula could be, and hopes to share that with as many women as she can. Shannon also practices herbal medicine and has completed a number of apprenticeships including one in New York State at Heartstone Herbal School.  She is currently working towards her certification as a women’s herbal educator.",
            "email":  "smlphess@gmail.com",
            "website": "",
            "phone": "585-739-9093"
        },
        "Noelle Hitchcock": {
            "name": "noelle-hitchcock",
            "credentials": "",
            "bio": "Noelle became interested in being a doula and took a doula workshop in the summer of 2014. She quickly realized that being a doula is exactly what she wants to do. Noelle is very passionate about pregnancy, labor, birth, and women’s empowerment. Helping women have positive birth experiences is her priority. Noelle has also attended a breastfeeding class for doulas (2014), a childbirth class (2015), as well as a Spinning Babies workshop (2015). She’s currently working on being certified through DONA. Her first child – a daughter – was born August 2015.",
            "email":  "noelle_2297@yahoo.com",
            "website": "http://www.everymotherdeservessupport.com/",
            "phone": "585-269-8946"
        },
        "Cheryl Johnson": {
            "name": "cheryl-johnson",
            "credentials": "",
            "bio": "Cheryl is a birth doula who loves movement. With her background in teaching Dancing for Birth™ classes and her love and knowledge of her own sport, Crossfit, she truly enjoys helping women to know their own bodies and use that to their advantage. Cheryl is also Rebozo certified and truly cares about what each woman wants. As families welcome sweet new lives, they shift and grow. Cheryl believes that women and partners should have the support they need to make it a special, memorable day - one in which they have the power to choose what’s best, and enjoy it too.",
            "email":  "Doula@isajohnson.com",
            "website": "http://dancindoulamama.isajohnson.com/",
            "phone": "585-204-0336"
        },
        "Adriana Lozada": {
            "name": "adriana-lozada",
            "credentials": "CD(DONA), CMSC, CEMC",
            "bio": "Adriana knows birth. She knows it can be an angst-producing, wonderfully-transforming, and empowering. Her goal is to help you navigate the waters, and have a satisfying birth experience, as you define it. Since 2007, she has supported women and their partners through vaginal births, cesarean births, VBACs, prematurity, post-dates, back labor and more. Adriana is a birth doula, child sleep consultant, postpartum educator and eco-maternity consultant. She’s an author, speaker, and host of The Birthful Podcast. All part of her quest to help families have a joyful transition into this craziness called parenthood. She's also fluent in Spanish.",
            "email":  "adriana@birthful.com",
            "website": "http://www.birthful.com/",
            "phone": "585-454-9898"
        },
        "Danielle Major": {
            "name": "danielle-major",
            "credentials": "",
            "bio": "Danielle has been a trained birth doula since 2012, working toward DONA certification. She also has Bradley childbirth training and has worked as a Breastfeeding Peer Counselor for WIC. Danielle’s passion for birth came before she was a mom, while working with families as a nanny. She believes every woman should have the best birth possible, and she does her best to assist them. Danielle’s favorite part about being a doula is the look on mom’s face when she is handed her baby after all the hard work she just endured! Danielle has two children of her own and has experienced natural childbirths.",
            "email":  "doula_danielle@yahoo.com",
            "website": "",
            "phone": "(808)268-3973"
        },
        "Melanie Angel Medeiros": {
            "name": "melanie-angel-medeiros",
            "credentials": "PH.D., CD(DONA), RYT",
            "bio": "Melanie is a certified childbirth doula, and a yoga teacher and yoga therapist (E-RYT 200, RYT 500). In conjunction with childbirth doula services, Melanie offers her clients private pre-natal yoga classes and breath and mindfulness consultations. Melanie's interest in pregnancy and childbirth began during her 3.5 year service as a prenatal and infant health educator in rural Senegal, West Africa. She has a PhD in Medical Anthropology and conducts research on women's health in Brazil. Melanie uses her cross-cultural experience with pregnancy and birth to support women and birth partners from diverse backgrounds to have positive and empowering childbirth experiences.",
            "email":  "halfmoonyogaproject@gmail.com",
            "website": "http://www.halfmoonyogaproject.net/",
            "phone": ""
        },
        "Janessa": {
            "name": "janessa",
            "credentials": "",
            "bio": "Jenessa is a CCE (Certified Childbirth Educator) and birth doula. She is a natural born care giver. She is an enthusiastic Educator and is passionate about supporting families as they grow. Jenessa offers gentle and steady support for women throughout their childbearing journey. Jenessa has always been interested in birth and motherhood and began her birth doula certification in 2014, immediately followed by a certification in Childbirth education. She approaches her doula work with compassion and empathy while standing on a solid base of knowledge. Jenessa is a loving wife and mama to two beautiful children.",
            "email":  "Jenessampak@gmail.com",
            "website": "",
            "phone": "585-880-3710"
        },
        "Dalia Rodriguez-Aponte": {
            "name": "dalia-rodriguez-aponte",
            "credentials": "",
            "bio": "Dalia is a Certified Birth and Postpartum Doula who believes in birth and in the woman’s ability to give birth. For her, this is a sacred and transformative time in which it is possible to be reborn as an individual and parent. She understands the fears that arise during this process and will be honored to serve as a support. Dalia has taken other courses and trainings that compliment her work and offer additional services like the Sobada Maya (Maya Abdominal Therapy) for pre-pregnancy and/or postpartum, and Placental Work (prints, encapsulations, tincture, balm). Dalia speaks English and Spanish.",
            "email":  "dalia@bbcroc.com",
            "website": "http://www.bbcroc.com/",
            "phone": "585-789-0596"
        },
        "Laura Schwartz": {
            "name": "laura-schwartz",
            "credentials": "CD(DONA), LCCE",
            "bio": "Laura believes that birth is not just another day in a woman’s life. A woman’s experience and the support she receives influence her mothering for the rest of her life. Laura completed her DONA International birth doula training in 2007, before she had children. Years of experience and three births of her own later, she’s seen firsthand the profound impact of birth. Laura understands the important role that support and education play to increase confidence and reduce fear. She’s also a Lamaze Certified Childbirth Educator, dedicated to teaching informative, interactive and fun classes. “Enough about me, let’s talk about you!”",
            "email":  "Laura@bbcroc.com",
            "website": "http://www.bbcroc.com/",
            "phone": ""
        },
        "Julia M. Sittig": {
            "name": "julia-m-sittig",
            "credentials": "MSW, CD(DONA), BDT(DONA), LCCE",
            "bio": "Julia has had the joy of supporting women and their families as a doula and childbirth educator since 2004. She seeks to help with birth planning and education; assist with positions, relaxation, and comfort measures through continuous labor support; and provide immediate postpartum support through referrals and guidance as needed. Living in the city of Rochester with her wonderful husband and five children, Julia co-owns Beautiful Birth Choices, where she serves as a DONA Certified Doula (2004), a Lamaze Certified Educator (2004), a Birth Doula Trainer (2011), and a home birth midwifery assistant.",
            "email":  "julia@bbcroc.com",
            "website": "http://www.bbcroc.com/",
            "phone": "585-613-1051"
        },
        "Kay Slattery": {
            "name": "kay-slattery",
            "credentials": "CD(DONA)",
            "bio": "Kay believes that birth is a normal, yet spiritual beginning to life, and that a healthy woman’s body is designed to nourish a natural birth, with little or no medical intervention.  Although there are times when a medical procedure may be necessary to bring about a positive outcome for mother and baby, it does not have to diminish a rewarding birth experience. She believes respecting the mother’s preferences for the kind of birth she imagines is key to bringing about a positive birth experience.  Kay is DONA certified and has served as a doula since 2006.",
            "email":  "kslatt@rochester.rr.com",
            "website": "",
            "phone": ""
        },
        "Kara Snyder": {
            "name": "kara-snyder",
            "credentials": "CD(DONA), ACBE, PBI",
            "bio": "Kara’s journey in the birth world began while assisting midwives in rural Cambodia during her Peace Corps service. Since she returned to the United States, Kara has become a DONA certified doula, a Certified Childbirth Educator (ACBE), a PBi certified Placenta Encapsulator, and most importantly, the mother of a beautiful boy. She is passionate about empowering mothers by helping them prepare for a safe and happy birth and postpartum experience.",
            "email":  "karaandsam@yahoo.com",
            "website": "",
            "phone": "585-784-0537"
        },
        "Alison Spath": {
            "name": "alison-spath",
            "credentials": "CD(DONA), RYT",
            "bio": "Alison offers prenatal support to help you plan, work through fears and concerns, and understand your options. Alison will be with you and your partner throughout your entire labor and birth. She also offers breastfeeding support in the hours, days, and weeks after your baby has arrived. Alison has three children: two daughters born via unplanned cesarean and a son born naturally after two cesareans (VBA2C). She teaches prenatal yoga, is one of the facilitators of Rochester Homebirth Circle, and has been working with breastfeeding mothers in the community since 2008.",
            "email":  "alison@bbcroc.com",
            "website": "http://bbcroc.com/",
            "phone": "585-451-9968"
        },
        "Bridget Strub": {
            "name": "bridget-strub",
            "credentials": "",
            "bio": "Bridget has always had a passion for supporting others as they realize all they are capable of. After experiencing amazing support during the births of both her children, Bridget knew that she had to channel her passion into being a doula. In June 2015, Bridget attended the DONA International birth doula training and has since been gaining experience and working toward her certification. Bridget believes that no matter the circumstances, peace can prevail during birth. It is her hope to be a catalyst for peace and to support women in whatever way needed as they navigate the powerful experience that is childbirth.",
            "email":  "b.rose.strub@gmail.com",
            "website": "",
            "phone": "585-880-5387"
        },
        "Naomi Turiano": {
            "name": "naomi-turiano",
            "credentials": "",
            "bio": "Naomi's passion for birth first sparked in 2010 after watching The Business of Being Born. After that, she changed life paths and started pursuing the calling of being a birth worker. Her pregnancy and the birth of her daughter in 2014 showed her how invaluable the support and positive energy of a doula can be for one’s birth experience as well as for one's partner. In 2015, she completed the Spinning Babies and the DONA birth doula workshops and is ready to provide a calm and comforting presence at your birth while pursuing her DONA Birth Doula certification.",
            "email":  "naomituriano@gmail.com",
            "website": "",
            "phone": "585-305-3465"
        },
        "Valarie Welsh": {
            "name": "valarie-welsh",
            "credentials": "LCCE",
            "bio": "Valarie is a trained doula through DONA International supporting births for over five years. She’s Vice President of the Doula Cooperative of Rochester, Lamaze Certified Childbirth Educator (LCCE), certified child passenger safety seat technician, and trained in acupressure for labor support. Valarie has experience supporting Cesarean, VBAC, multiples, and home births, but most importantly has a deep love and respect for the transforming power of birth and how powerful a woman’s own wisdom can be. Valarie believes the sacrament of birth belongs with the family and welcomes a conversation to determine how she can best support you in the choices ahead.",
            "email":  "valariewelsh@gmail.com",
            "website": "http://www.birthmarkdoula.com/",
            "phone": "585-943-8655"
        },
        "Karen Welton": {
            "name": "karen-welton",
            "credentials": "",
            "bio": "Karen’s passion for birth came after the homebirth of her first daughter. She completed her doula training with DONA International and is further trained in prayer counseling, acupressure, Spinning Babies and breastfeeding support. Karen has supported women at home and in hospitals. She believes every woman deserves to feel comforted, protected and empowered during birth. Her passion is to help women overcome their fears and find their voice to approach childbirth with confidence and joy. Karen is also a birth photographer.",
            "email":  "Karenwelton@gmail.com",
            "website": "",
            "phone": "585-236-7171"
        },
        "Petra Letter": {
            "name": "petra-letter",
            "credentials": "PCD(DONA), CLC",
            "bio": "Petra is a certified Postpartum Doula who trained with DONA International in 2009. She trained with Healthy Children in 2014 and is a Certified Lactation Counselor. Petra has been married since 1982, and has lived in a family home in NE Rochester since then. She is a WAHM of 3 grown children and Oma to two boys. She is the nursery staff person at her church. She has been caregiver and nanny to many families over the years.  Her crafts include yarn work, sewing/alterations, quilting and painting on small surfaces.",
            "email":  "RocDoula@gmail.com",
            "website": "",
            "phone": "585-503-0358"
        }        
    }